// @use './variables.scss';
// @use './reset.scss';
// @use './animation.scss';
// @use './swiper.scss';
// @use './burger.scss';

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-yellow-color);
  font-family: "Encode Sans Semi Expanded", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  height: 100dvh;
}

.body__lock{
  overflow: hidden;
}

.container{
  max-width: 1250px;
  padding-inline: 15px;
  margin-inline: auto;
  color: var(--gray-color);
}

.header{
  &__fixed-top{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    padding-inline: 15px;
    border-top: none;
  }
  &__nav{
    max-width: 1220px;
    min-width: 290px;
    margin: auto;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    border: var(--gray-color) 2px solid;
    background-color: var(--light-yellow-color);
    border-top: none;
  }
  &__hero{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 95px ;
    gap: 100px;
    border: 2px solid var(--gray-color);
    border-top: none;
    padding-inline: 20px;
    &--en{
      @media (max-width:740px) {
        height: 780px;
        padding-top: 125px;
      }
    }
    &--ru{
      @media (max-width:740px) {
        height: 800px;
        padding-top: 60px;
      }

      @media (max-width:545px) {
        height: 740px;
        padding-top: 100px;
      }
    }

    &-wrapper{
      width: 822px;
      display: flex;
      justify-content: space-between;
      @media (max-width:740px) {
        height: 545px;
        align-items: center;
        flex-direction: column;
      }
      @media (max-width:545px) {
        height: 530px;
      }
    }
    &-img{
      width: 260px;
      border-radius: 30px;
      // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @media (max-width:740px) {
        width: 299px;
      }
      @media (max-width:545px) {
        width: 255px;
      }
    }
    &-content{
      height: 230px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 18px;
      @media (max-width:740px) {
        gap: 14px;
        justify-content: flex-end;
        text-align: center;
      }
      @media (max-width:545px) {
        height: 220px;
      }
      &--ru{
        @media (max-width:740px) {
          gap: unset;
          justify-content: unset;
        }
      }
    }
    &-title{
      height: 52px;
      position: relative;
      display: inline-block;
      font-size: 50px;
      font-weight: inherit;
      line-height: unset;
      color: var(--orange-color);
      @media (max-width:820px) {
        font-size: 39px;
      }
      @media (max-width:545px) {
        font-size: 30px;
      }
      &::before{
        content: ">";
        position: absolute;
        top:0;
        left: -40px;
        @media (max-width:820px) {
          left:-30px
        }
        @media (max-width:545px) {
          left:-25px
        }
        @media (max-width:380px) {
          left:-23px
        }
      }
      
    }
    &-text{
      width: 400px;
      line-height: 45px;
      font-size: 26px;
      margin-top: 75px;
      @media (max-width:820px) {
        width: 312px;
        font-size: 22px;
      }
      @media (max-width:740px) {
        width: 440px;
        font-size: 22px;
        margin-top: 70px;
      }
      @media (max-width:545px) {
        width: 320px;
        margin-top: 70px;
        font-size: 20px;
      }
      @media (max-width:380px) {
        width: 260px;
        margin-top: 70px;
        font-size: 16px;
      }
      &--ru{
        @media (max-width:740px) {
          margin-top: 100px;
        }
        @media (max-width:545px) {
          margin-top: 45px;
        }
      }
    }
  }
}

.nav {
  &__logo{
    font-size: 30px;
    font-weight: 700;
    transition: 0.2s;
    @media (max-width:765px) {
      transform: translateY(3px);
    }  
    &:hover{
      color: var(--orange-color);
    }
  }
  

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 224px;
    transition: 0.3s;
    @media (max-width:765px) {
      width: 70%;
      height: 100dvh;
      top: 0;
      right: -70%;
      background-color: var(--light-yellow-color);
      border: 2px solid var(--gray-color);;
      position: absolute;
      flex-direction: column;
      gap: 50px;
      z-index: 2;
    }
  }

  &__list{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    @media (max-width:765px) {
      flex-direction: column;
      align-items: center;
    }
    &-item{
      position: relative;
      font-weight: 400;
      transition: 0.2s;
      &::after{
        content: "";
        width: 0;
        position: absolute;
        left: 0;
        bottom: -4px;
        border-bottom: 2px var(--orange-color) solid;
        transition: 0.3s;
      }
      &:hover{
        color: var(--orange-color);
      }
    }
    &-link{
      font-size: 26px;
      font-weight: 400;
    }
  }

  &__language{
    display: flex;
    align-items: center;
    position: relative;
    gap: 4px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    &-curr{
      font-weight: 600;
      color: var(--orange-color);
      cursor: pointer;
      border-right: 2px solid var(--gray-color);
      width: 38px;
      padding-right: 39px;
    }
    &-link{
      transition: 0.3s;
      &:hover{
        color: var(--orange-color);
      }
    }
  }


}

.about{
  border: 2px solid var(--gray-color);
  border-top: none;
  text-align: center;
  padding-top: 48px;
  scroll-margin-top: 106px;
  padding-inline: 20px;
  &__container{
    border-top: none;
  }
  &__title {
    font-size: 34px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 50px;
  }
}
.terminal{
  position: relative;
  max-width: 822px;
  height: 450px;
  margin-inline: auto;
  margin-bottom: 120px;
  background-color: var(--gray-color);
  border-radius: 10px;
  border-top: 31px solid var(--light-gray-color);
  padding: 30px 24px;
  color: var(--white-color);
  text-align: left;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @media (max-width:640px) {
    height: 400px;
    margin-bottom: 90px;
    padding-top: 30px;
  }
  @media (max-width:540px) {
    height: 420px;
  }
  @media (max-width:413px) {
    height: 445px;
  }
  @media (max-width:365px) {
    height: 470px;
  }
  &__circle{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -22px;
    left: 9px;
    background-color: #FC6769;
    border-radius: 50%;
    &--yellow{
      background-color: #F5B450;
      left: 33px;
    }
    &--green{
      background-color: #56CD2C;
      left: 57px;
    }
  }
  &__title{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 7px;
    @media (max-width:640px) {
      font-size: 16px;
    }
  }
  &__text{
    font-size: 20px;
    margin-bottom: 34px;
    font-weight: 300;
    line-height: 1.5;
    @media (max-width:640px) {
      font-size: 16px;
    }
    &-location{
      color: var(--yellow-color);
    }
    &-link{
      color: var(--light-blue-color);
      transition: 0.2s;
      &:hover{
        text-decoration: underline;
      }
      &--resume{
        color: var(--orange-color);
      }
    }
    &-skills{
      color: var(--yellow-color);
    }
  }

}

.projects {
  border: 2px solid var(--gray-color);
  border-top: none;
  text-align: center;
  padding-top: 48px;
  scroll-margin-top: 106px;
  &__title{
    font-size: 34px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 50px;
  }
}

.contacts{
  text-align: center;
  padding-top: 47px;
  scroll-margin-top: 106px;
  border: 2px solid var(--gray-color);
  border-top: none;
  padding-inline: 20px;
  &__title{
    font-size: 34px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 65px;
  }
  &__wrapper{
    justify-content: space-between;
    display: flex;
    max-width: 460px;
    margin-inline: auto;
  }
  &__link{
    transition: 0.3s;
    &:hover{
      opacity: 0.8;
    }
    &-title{
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
    }
    &-svg{
      margin-bottom: 12px;
    }
    margin-bottom: 83px;
    @media (max-width: 410px ) {
      transform: scale(0.7);
    }
  }
}

.footer{
  height: 71px;
  border: 2px solid var(--gray-color);
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 37px;
  background-color: var(--gray-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  &__title{
    font-weight: 400;
  }
}

.icon {
  display: none;
  }
  
  @media(max-width:765px) {
    .nav__list--active {
      right: 0;
    }
  
  
  .icon {
  
      width: 40px;
      height: 17px;
      position: relative;
      cursor: pointer;
      display: block;
      z-index: 3;
    
    &__stripe {
      width: 40px;
      height: 4px;
      background-color: var(--gray-color);
      position: absolute;
      bottom: 0;
      transition: all 0.3s;
      border-radius: 8px;
    }
    
    &__stripe:first-child {
      top: 0;
    }
    
    // &__stripe:last-child {
    //   top: 75%;
    // }
    
    
    &--active span:nth-child(1) {
      transform: rotate(45deg);
      top: 50%;
      background-color: #404242;
    }
    
    // &--active span:nth-child(2) {
    //   transform: scale(0);
    // }
    &--active span:nth-child(2) {
      transform: rotate(-45deg);
      top: 50%;
      background-color: #404242;
    }
  }
  
  }



